@import url('https://api.fontshare.com/v2/css?f[]=clash-display@200,300,400,500,600,700,1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #0D0C08;
}

header {
    height: 60px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    border-bottom: solid 1px white;
    position: absolute;
    z-index: 2;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    position: fixed;
}

#seccionPrincipal { 
    width: 100%;
    height: 100vh;
    position: sticky; /* Hace que la seccion se pegue a la pantalla mientras se hace scroll hasta que acaba el div que la contiene (contenedorSticky). */
    top: 0;
    z-index: 1;
}

#seccionPrincipal .imagenFondo { 
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Esto ahce que la imagen cubra todo el contenedor, como background-size: cover */
    /* object-position: center; /* Hace que la imagen se centre en el contenedor */
    object-position: bottom;
}

#contenedorSticky {
    height: 170vh;
    position: relative;
    z-index: -1;
    background-color: black;
}

.carta {
    position: absolute;
    width: 230px;
    height: 330px;
    background: white;
    border-radius: 15px;
}

#menuLogo {
    height: 100%;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cajitaLogo {
    height: 90%;
    width: 100px;
    background-image: url("../multimedia/LogoProvisional.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#cajitaBotones {
    height: 90%;
    width: 100px;
    background-image: url("../multimedia/FondoCajaBotones.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: -5px; /* Un pequeño ajuste de la posicion para que quede mas abajo. */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.botonInicio {
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-bottom: 5px;
}

.botonInicio img {
    height: 100%;
    width: 100%;
}

#menuNavegacion {
    height: 100%;
    width: 100%;
    background-color: transparent;
    display: grid;
    grid-template-columns: 15% 70% 15%;
}

#menuBotones {
    height: 100%;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

#degradadoIzquierda {
    background: linear-gradient(90deg,rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}

#degradadoDerecha {
    background: linear-gradient(90deg,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

#contenedorNavMenu {
    background-color: white;
    display: flex;
    justify-content: center;
    z-index: 1;
}

#navMenu {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navMenu ul {
    display: flex;
    list-style: none;
    gap: 20%;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

#navMenu a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Clash Display', sans-serif;
    font-weight: 500;
    font-size: 24px;
}

#bentoGrid {
    width: 100%;
    height: 85vh;
    background: linear-gradient(180deg,rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0.5) 95%, rgba(255, 255, 255, 0) 100%);
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 70px;
    margin-top: -70vh;
    z-index: 10;
}

.contenedorBento {
    background-color: transparent;
    width: 100%;
    height: 75vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "cartaBento1 cartaBento2 cartaBento2 cartaBento3"
    "cartaBento1 cartaBento5 cartaBento6 cartaBento6";
    grid-gap: 10px;
    z-index: 10;
}

.cartaBento {
    border-radius: 30px;
    background-color: wheat;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cartaBento1 {
    grid-area: cartaBento1;
}

.cartaBento2 {
    grid-area: cartaBento2;
    background-image: url(../multimedia/RelojesBentoGridPrueba1.png);
}

.cartaBento3 {
    grid-area: cartaBento3;
    background-image: url(../multimedia/Reloj\ de\ lujo\ en\ caja\ de\ presentación.png);
}

.cartaBento4 {
    grid-area: cartaBento4;
}

.cartaBento5 {
    grid-area: cartaBento5;
}

.cartaBento6 {
    grid-area: cartaBento6;
    background-image: url(../multimedia/RelojBentoGridPruebaFondoMontañas.png);
}

#contenedorExpositorReloj {
    width: 100%;
    height: 200vh;
    background-color: transparent;
}

.expositorReloj {
    width: 100%;
    height: 100vh;
    background-image: url(../multimedia/FondoSeccionExpositor.png);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: sticky;
    top: 0;
}

.secionExpIzquierda {
    height: 100%;
    background-color: transparent;
    padding-top: 15vh;
    padding-left: 50px;
}
.seccionExpCentro {
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    position: relative;
}
.seccionExpDerecha {
    height: 100%;
    background-color: transparent;
    padding-top: 15vh;
    padding-right: 50px;
    display: flex;
    justify-content: right;
    position: relative;
}

.pColorReloj {
    font-family: 'Clash Display', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.637);
    margin-bottom: -15px;
    margin-left: 10px;
}

.nombreReloj {
    font-family: 'Outfit', sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 7rem;
    color: white;
    margin-left: -10px;
    position: absolute; /* Para que se superponga a la imagen del reloj si la pantalla se hace mas pequeña. */
}

.pReferenciaReloj {
    font-family: 'Clash Display', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.637);
    margin-top: 290px;
}

.contenedorCompraExpositor {
    margin-top: 8vh;
}

.pPrecioExpositor {
    font-family: 'Clash Display', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    color: white;
}

.botonAniadirCarritoExpositor {
    font-family: 'Clash Display', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1.5px;
    height: 50px;
    width: 350px;
    margin-top: 5px;
    background-color: transparent;
    border: solid 1px white;
    color: white;
    cursor: pointer;
}

.botonAniadirCarritoExpositor:hover {
    background-color: white;
    color: black;
    transition: 0.3s;
}

.pConBorde {
    font-family: 'times new roman', serif;
    font-size: 15rem;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.178); /* Grosor y color del borde del texto */
    margin-top: 2vh;
}

.pBordeIzquierda {
    position: absolute;
    top: 25px;
    left: -10px;
    font-size: 12rem;
    z-index: -1;
}

.pBordeCentro {
    position: absolute;
    top: 25px;
    left: -10px;
    font-size: 12rem;
    z-index: -1;
}

.botonSiguienteReloj {
    position: absolute;
    bottom: 30px;
    font-family: 'Clash Display', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1.5px;
    height: 35px;
    width: 120px;
    background-color: transparent;
    border: solid 1px rgba(255, 255, 255, 0.24);
    color: rgba(255, 255, 255, 0.822);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botonSiguienteReloj img {
    height: 20px;
    color: white;
    margin-right: 5px;
    margin-left: -5px;
}

.contenedorImagenExpositor {
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

#imagenRelojCaelum {
    height: 90%;
}

.contenedorLemaYImagen {
    height: 200px;
    width: 90%;
    display: flex;
    gap: 10px;
}

.contenedorLema {
    height: 100%;
    width: 60%;
}

.pLema {
    font-family: 'Outfit', sans-serif;
    font-weight: 200;
    font-size: 1.8rem;
    font-style: italic;
    color: white;
    text-align: right;
}

.contenedorImagenLema {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: right;
    justify-content: right;
}

.contenedorImagenLema img {
    height: 100%;
}

.pBordeDerecha {
    position: absolute;
    top: 35vh;
    left: 0;
}