@import url('https://api.fontshare.com/v2/css?f[]=clash-display@200,300,400,500,600,700,1&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
    height: 60px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    border-bottom: solid 1px white;
    position: absolute;
    z-index: 2;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    position: fixed;
}

#seccionPrincipal { 
    width: 100%;
    height: 100vh;
    position: sticky; /* Hace que la seccion se pegue a la pantalla mientras se hace scroll hasta que acaba el div que la contiene (contenedorSticky). */
    top: 0;
    z-index: 1;
}

#seccionPrincipal .imagenFondo { 
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Esto ahce que la imagen cubra todo el contenedor, como background-size: cover */
    object-position: center; /* Hace que la imagen se centre en el contenedor */
}

#contenedorSticky {
    height: 160vh;
    position: relative;
    z-index: -1;
    background-color: black;
}

.carta {
    position: absolute;
    width: 230px;
    height: 330px;
    background: white;
    border-radius: 15px;
}

#menuLogo {
    height: 100%;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cajitaLogo {
    height: 80%;
    width: 100px;
    background-color: white;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

#menuNavegacion {
    height: 100%;
    width: 100%;
    background-color: transparent;
    display: grid;
    grid-template-columns: 15% 70% 15%;
}

#menuBotones {
    height: 100%;
    width: 100%;
    background-color: transparent;
}

#degradadoIzquierda {
    background: linear-gradient(90deg,rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}

#degradadoDerecha {
    background: linear-gradient(90deg,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

#contenedorNavMenu {
    background-color: white;
    display: flex;
    justify-content: center;

}

#navMenu {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navMenu ul {
    display: flex;
    list-style: none;
    gap: 20%;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

#navMenu a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Clash Display', sans-serif;
    font-weight: 500;
    font-size: 24px;
}

#bentoGrid {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg,rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0.5) 95%, rgba(255, 255, 255, 0) 100%);
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 70px;
    margin-top: -60vh;
    z-index: 10;
}

.contenedorBento {
    background-color: transparent;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "cartaBento1 cartaBento2 cartaBento2 cartaBento3"
    "cartaBento1 cartaBento5 cartaBento6 cartaBento6";
    grid-gap: 10px;
    z-index: 10;
}

.cartaBento {
    border-radius: 30px;
    background-color: wheat;
    height: 100%;
    width: 100%;
}

.cartaBento1 {
    grid-area: cartaBento1;
}

.cartaBento2 {
    grid-area: cartaBento2;
}

.cartaBento3 {
    grid-area: cartaBento3;
}

.cartaBento4 {
    grid-area: cartaBento4;
}

.cartaBento5 {
    grid-area: cartaBento5;
}

.cartaBento6 {
    grid-area: cartaBento6;
}